.search-container {
    display: flex;
    justify-content: center;
    margin: 20px;
    color: white;
    margin-bottom: 50px;
}

.search-container input {
    width: 300px;
    padding: 12px 16px;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 16px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: 0.3s;

}

.search-container input:focus {
    transform: scale(1.05);
}

@media (max-width: 480px) {
    .search-container input {
        width: 90%;
    }
}